@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--light-grayish-blue-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.heading{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heading h1{
    color: var(--very-dark-blue);
    font-size: clamp(1rem, 5vw, 1.3rem);
}

.heading .notif-number{
    width: 30px;
    height: 25px;
    display: flex;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

header .mark a{
    color: var(--dark-grayish-blue);
    font-size: 0.85rem;
    font-weight: 500;
}

header .mark a:hover,
header .mark a:active{
    color: var(--blue);
}

.notif-message{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0.8rem;
    padding: 1rem;
}

.unread{
    background-color: var(--very-light-grayish-blue);
    border-radius: 10px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.unread p:first-of-type::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--red);
    display: inline-block;
    border-radius: 50%;
    margin-left: 0.5rem;
}

img{
    width: 50px;
}

.notif-text {
    font-size: 0.95rem;
    line-height: 1.6;
    color: var(--dark-grayish-blue);
}

.notif-text a{
    font-weight: 800;
}

.avatar-name{
    color: var(--very-dark-blue);
    margin-right: 0.2rem;
}

.notif-about{
    color: var(--dark-grayish-blue);
    margin-left: 0.2rem;
}

.avatar-name:hover,
.avatar-name:active,
.notif-about:hover,
.notif-about:active{
    color: var(--blue);
}

.time{
    color: var(--grayish-blue);
}

.private-message{
    font-weight: 500;
    padding: 1rem;
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 5px;
    margin-top: 0.6rem;
}

.friend-message{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.kimberly-smith{
    display: flex;
    justify-content: space-between;
}